body {
  background-color: grey;
  font-family: 'Noto Serif JP', 'MS Gothic', sans-serif;
}

h1 {
  font-size: 400%;
}

.container {
  /* text-align: center; */
  color: white;
  text-shadow: 2px 2px #ff0000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* width: 100%; */
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
} */

.jumbotron {
  background-image: url("images/osaka-night-view.jpg");
  background-size: cover;
}

iframe{
  padding-bottom:3%;
}

.col-md-4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

