body {
  background-color: grey;
  /* background-image: url("images/Naval_ensign_of_the_Empire_of_Japan.svg");
  background-position: left top;
  background-attachment: fixed;
  background-size: 90%;
  background-repeat: no-repeat; */
}

body {
  font-family: 'Noto Serif JP', 'MS Gothic', sans-serif;
}

h1 {
  font-size: 400%;
}

.container {
  text-align: center;
  color: lightgray;
  width: 100%;
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
} */

.jumbotron {
  background-image: url("images/osaka-night-view.jpg");
  background-size: cover;
}

iframe{
  padding-bottom:3%;
}
.map-container iframe{
  left:0;
  top:0;
  height:20%;
  width:100%;
  position:absolute;
}